In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

#https://s3.amazonaws.com/hackerday.datascience/112/test.csv
#https://s3.amazonaws.com/hackerday.datascience/112/train.csv
train_df = pd.read_csv("C:/Project-Group4/Experiment/train-experiment.csv")
test_df = pd.read_csv("C:/Project-Group4/Experiment/test-experiment.csv")
train_df.columns

Index(['time', 'ax', 'ay', 'az', 'wx', 'wy', 'wz', 'Activity'], dtype='object')

In [2]:
unique_activities = train_df.Activity.unique()
print("Number of unique activities: {}".format(len(unique_activities)))
replacer = {}
for i, activity in enumerate(unique_activities):
    replacer[activity] = i
train_df.Activity = train_df.Activity.replace(replacer)
test_df.Activity = test_df.Activity.replace(replacer)
train_df.head(10)

Number of unique activities: 7

    time      ax      ay      az      wx      wy      wz  Activity
0  1.004  0.7561  0.8272 -0.3888 -0.1014  0.1305 -0.0732         0
1  1.034  0.7561  0.8272 -0.3888 -0.1014  0.1305 -0.0732         0
2  1.104  0.7561  0.8272 -0.3888 -0.1014  0.1305 -0.0732         0
3  1.104 -0.9873  0.0645  0.5834 -0.1014  0.1305 -0.0732         0
4  1.104 -0.9873  0.0645  0.5834 -0.0788 -0.3460 -0.1123         0
5  1.104 -0.9873  0.0645  0.5834 -0.0788 -0.3460 -0.1123         0
6  1.124 -0.9873  0.0645  0.5834 -0.0788 -0.3460 -0.1123         0
7  1.153 -0.9873  0.0645  0.5834 -0.0788 -0.3460 -0.1123         0
8  1.213 -0.9873  0.0645  0.5834 -0.0788 -0.3460 -0.1123         0
9  1.244 -0.9873  0.0645  0.5834 -0.0788 -0.3460 -0.1123         0

In [3]:
#train_df = train_df.drop("subject", axis=1)
#test_df = test_df.drop("subject", axis=1)

def get_all_data():
    train_values = train_df.values
    test_values = test_df.values
    np.random.shuffle(train_values)
    np.random.shuffle(test_values)
    X_train = train_values[:, :-1]
    X_test = test_values[:, :-1]
    y_train = train_values[:, -1]
    y_test = test_values[:, -1]
    return X_train, X_test, y_train, y_test

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

from sklearn.ensemble import RandomForestClassifier

X_train, X_test, y_train, y_test = get_all_data()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

model = RandomForestClassifier(n_estimators=500)
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.9936216862666932